body {
  margin: 0;
  padding: 0;
  background-image: url("https://i.ibb.co/cg13mqf/steelstructure.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;

}

#content {
  grid-area: content1;
  margin-bottom: 7%;
}

.slider {
  height: 150vh;
  position: relative;
}

.slider2 {
  height: 150vh;
  position: relative;
}

.slider .list .item {
  position: absolute;
  inset: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.slider2 .list2 .item2 {
  position: absolute;
  inset: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider2 .list2 .item2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 40%, transparent);
}

.slider2 .list2 .item2::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 40%, transparent);
}

.slider .list .item .content {
  position: absolute;
  left: 20%;
  top: 10%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}

.slider2 .list2 .item2 .content2 {
  position: absolute;
  left: 20%;
  top: 10%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}

.slider2 .list2 .item2 .content2 p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}

.slider .list .item .content h2 {
  font-size: 100px;
  margin: 0;
  font-weight: bold;
}

.slider2 .list2 .item2 .content2 h2 {
  font-size: 100px;
  margin: 0;
}

.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}

.slider2 .list2 .item2.active {
  opacity: 1;
  z-index: 10;
}

@keyframes showcontent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(2) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showcontent 0.5s 0.7s ease-in-out 1 forwards;
}

.slider2 .list2 .item2.active p:nth-child(1),
.slider2 .list2 .item2.active h2,
.slider2 .list2 .item2.active p:nth-child(2) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showcontent 0.5s 0.7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
  animation-delay: 1s;
}

.slider2 .list2 .item2.active h2 {
  animation-delay: 1s;
}

.slider .list .item.active p:nth-child(2) {
  animation-delay: 1.3s;
}

.slider2 .list2 .item2.active p:nth-child(2) {
  animation-delay: 1.3s;
}

#next {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 50;
}

#next2 {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 50;
}

#prev {
  position: absolute;
  top: 10%;
  left: 0%;
  z-index: 50;
}

#prev2 {
  position: absolute;
  top: 10%;
  left: 0%;
  z-index: 50;
}

.arrows button {
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 15%;
  height: 50%;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: 0.5s;
}

.arrows2 button {
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 15%;
  height: 50%;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: 0.5s;
}

.arrows button:hover {
  color: black;
}

.arrows2 button:hover {
  color: black;
}

.thumbnail {
  position: absolute;
  bottom: 0px;
  z-index: 12;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: auto;
  overflow-y: hidden;
}

.thumbnail2 {
  position: absolute;
  bottom: 0px;
  z-index: 12;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: auto;
  overflow-y: hidden;
}

.thumbnail::-webkit-scrollbar {
  width: 0;
}

.thumbnail2::-webkit-scrollbar {
  width: 0;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}

.thumbnail2 .item2 {
  width: 150px;
  height: 220px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnail2 .item2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


.thumbnail .item.active {
  filter: brightness(1.5);
}

.thumbnail2 .item2.active {
  filter: brightness(1.5);
}

.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
}

.thumbnail2 .item2 .content2 {
  position: absolute;
  inset: auto 10px 10px 10px;
}

.sliderbutton {
  font-size: 50px;
  border-radius: 5px;
  font-weight: bold;
}

.sliderbutton:hover {
  color: grey;
  font-weight: 500;
}


/*music*/
#playbutton {
  display: none;
  opacity: 0%;
  position: fixed;
}


#hometitle {
  font-size: 47px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



#menupicture {
  width: 75px;
  height: 75px;
}

#amaya {
  text-align: center;
  color: white;
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;
  grid-area: amaya;
}

.homelink {
  text-decoration: none;
  color: #eee;
}


.amayatitle {
  grid-template-areas: "amaya" "sub-menu-wrap";
  display: grid;
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%;
}



/*transition design in hover*/
.main-menu {
  display: flex;
}

.main-menu span {
  font-size: 22px;
  margin-left: 10px;
  transition: transform 0.5s;
}

.main-menu:hover span {
  transform: translateX(5px);
}

.main-menu:hover {
  font-weight: 600;
}

/**/

nav ul li a {
  color: white;
  text-decoration: none;
}

.searchbar{
  --padding:14px;
  width: max-content;
  display: flex;
  align-items: center;
  border-radius:28px;
  padding: var(--padding);
  background-color: #f6f6f6;
  width: 90%;
  transition: box-shadow 0.25s;
}

.searchbar:focus-within{
  box-shadow:0 0 2px rgba(0, 0, 0, .75);
}

.search-input{
  font-size: 16px;
  font-family: "Lexend",sans-serif;
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  flex:1;
}

.search-input::placeholder,
.search-icon{
  color: rgba(0, 0, 0, .25);
}

.search-content{
  border-radius: 28px;
  background-color: white;
  max-height: 0;
  overflow-y: auto;
  transition: max-height 0.5s;
  width: 90%;
  color: black;
  list-style-type: none;
}

.search-content.open-search {
  max-height: 50vh;
}

.sub-menu-wrap {
  max-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: max-height 1s;
  grid-area: sub-menu-wrap;
}

.menuoverlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 5000;
}

.menuoverlay.active {
  opacity: 1;
  pointer-events: auto;
}

body.overlay-active {
  overflow: hidden;
}

.sub-menu-wrap.open-menu {
  max-height: 50vh;
}

.sub-menu {
  background: darkblue;
  padding: 20px;
  margin: 0px;
  width: 100%;
  height: max-height;
}


.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 12px 0;
}

.sub-menu-link span {
  font-size: 22px;
  margin-left: 10px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

.Steel {
  grid-area: steel;
}

.hardware {
  grid-area: hardware;
}

.product {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas:
    "steel hardware";
}

#mainContent {
  grid-area: mainContent;
}

#mainContent2 {
  grid-area: mainContent2;
}


.homecontent {
  grid-template-areas: "content1" "mainContent" "mainContent2" "contactformat";
  grid-gap: 5%;
  display: grid;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.homecontent>div {
  scroll-snap-align: start;
}

.SteelProduct {
  font-size: 50px;
  font-family: "Montserrat", Sans-serif;
  background: linear-gradient(135deg, darkblue 70%, #0f0bee00 80%);
  background-size: contain;
  z-index: 50;
  font-weight: 800;
}



.HardwareProduct {
  font-size: 50px;
  font-family: "Montserrat", Sans-serif;
  background: linear-gradient(135deg, darkblue 70%, #0f0bee00 80%);
  z-index: 50;
  font-weight: 800;
}


.contactformat {
  grid-area: contactformat;
  grid-template-areas: "background1" "box";
}


#background {
  background: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
  height: max-content;
  grid-area: background1;

}

.contactus {
  position: relative;
  width: 100%;
  max-width: 75%;
  padding: 40px 100px;
}

.contactus .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #fff;
  font-weight: 500;
  font-weight: bold;
}


.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.aboutus {
  grid-area: aboutus;
}

.aboutusTitle {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.aboutusDescription {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.contact {
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgb(0, 0, 0, 0, 15);
}




.box {
  grid-area: box;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "form info"
    "form map"
    "aboutus aboutus";
  grid-gap: 10px;
}

.contact h3 {
  color: #0e3959;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.inputbox span {
  color: #18b7ff;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

/* form */

.formbox {
  position: relative;
  width: 100%;
}

.formbox .row50 {
  display: flex;
  gap: 20px;
}

.inputbox {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.formbox .row100 .inputbox {
  width: 100%;
}

.inputbox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}

.inputbox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
}

.inputbox input[type="submit"] {
  background: #ff578b;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

.inputbox ::placeholder {
  color: #999;
}

/*info*/
.info {
  background: #0e3959;
}

.info h3 {
  color: #fff;
}

.infobox {
  color: black;
}

.info .infobox div {
  display: flex;
  align-items: center;
}

.info .infobox div span {
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #18b7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;

}

.info .infobox div p {
  color: #fff;
  font-size: 1.1em;
}

.info .infobox div a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}

.sci {
  margin-top: 40px;
  display: flex;
}

.sci li {
  list-style: none;
  margin-right: 15px;

}

.sci li a {
  color: #fff;
  font-size: 2em;
  color: #ccc;
}

.sci li a :hover {
  color: #fff;
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.aboutus {
  background: #0e3959;
}

.aboutus span {
  font-size: 35px;
}

.Product_Picture a {
  text-decoration: none;
}

@media screen and (max-height:500px){
  #hometitle {
    font-size: 17px;
  }

  #menupicture {
    width: 30px;
    height: 30px;
  }



  .sub-menu {
    padding: 5px;
    font-size: 10px;
  }

  #content{
    margin-bottom: 15%;
  }

  .SteelProduct {
    font-size: 20px;
  }

  .slider {
    height: 85vh;
  }

  .slider .list .item .content {
    width: 170px;
    top: 7%;
  }



  .slider .list .item .content p{
    margin: 0;
    font-size: 13px;
  }

  .slider .list .item .content h2 {
    font-size: 20px;
  }

  .sliderbutton {
    font-size: 20px;
  }

  .thumbnail {
    height: 120px;
  }

  .thumbnail .item {
    width: 80px;
    height: 100px;
  }

  .HardwareProduct {
    font-size:  20px;
    background: linear-gradient(135deg, darkblue 91%, #0f0bee00 80%);
    margin-top: 58px;
  }

  .slider2 {
    height: 85vh;
  }


  .slider2 .list2 .item2 .content2 {
    width: 170px;
    top: 7%;
  }

  .slider2 .list2 .item2 .content2 p{
    margin: 0;
    font-size: 13px;
  }


  .slider2 .list2 .item2 .content2 h2 {
    font-size: 20px;
  }



  .thumbnail2 {
    height: 120px;
  }

  .thumbnail2 .item2 {
    width: 80px;
    height: 100px;
  }

  .contact {
    padding: 0;

}

.contactus {
  padding: 20px;
  margin-top: 63px;
}
}

@media screen and (max-width: 300px) {

  #hometitle {
    font-size: 17px;
  }

  #menupicture {
    width: 30px;
    height: 30px;
  }



  .sub-menu {
    padding: 5px;
    font-size: 10px;
  }

  #content{
    margin-bottom: 15%;
  }

  .SteelProduct {
    font-size: 20px;
  }

  .slider {
    height: 85vh;
  }

  .slider .list .item .content {
    width: 170px;
    top: 7%;
  }



  .slider .list .item .content p{
    margin: 0;
    font-size: 13px;
  }

  .slider .list .item .content h2 {
    font-size: 20px;
  }

  .sliderbutton {
    font-size: 20px;
  }

  .thumbnail {
    height: 120px;
  }

  .thumbnail .item {
    width: 80px;
    height: 100px;
  }

  .HardwareProduct {
    font-size:  20px;
    background: linear-gradient(135deg, darkblue 91%, #0f0bee00 80%);
    margin-top: 58px;
  }

  .slider2 {
    height: 85vh;
  }


  .slider2 .list2 .item2 .content2 {
    width: 170px;
    top: 7%;
  }

  .slider2 .list2 .item2 .content2 p{
    margin: 0;
    font-size: 13px;
  }


  .slider2 .list2 .item2 .content2 h2 {
    font-size: 20px;
  }



  .thumbnail2 {
    height: 120px;
  }

  .thumbnail2 .item2 {
    width: 80px;
    height: 100px;
  }

  .contact {
    padding: 0;

}

.contactus {
  padding: 20px;
  margin-top: 63px;
}
}

@media screen and (min-width: 300px) {


  #hometitle {
    font-size: 25px;
  }

  #menupicture {
    width: 40px;
    height: 40px;
  }

  .sub-menu {
    padding: 15px;
  }

  .sub-menu-link {
    font-size: 15px;
  }


  .SteelProduct {
    font-size: 30px;
  }

  .slider {
    height: 85vh;
  }

  .slider .list .item .content {
    width: 250px;
  }

  .slider .list .item .content h2 {
    font-size: 40px;
  }

  .sliderbutton {
    font-size: 30px;
  }

  .thumbnail {
    height: 140px;
  }

  .thumbnail .item {
    width: 90px;
    height: 130px;
  }

  .HardwareProduct {
    font-size: 30px;
    background: linear-gradient(135deg, darkblue 91%, #0f0bee00 80%);
  }

  .slider2 {
    height: 88vh;
  }


  .slider2 .list2 .item2 .content2 {
    width: 250px;
  }

  .slider2 .list2 .item2 .content2 h2 {
    font-size: 40px;
  }



  .thumbnail2 {
    height: 140px;
  }

  .thumbnail2 .item2 {
    width: 90px;
    height: 130px;
  }
  .contactus {
    padding: 20px;
  }

}

@media screen and (min-width: 400px) {


  #hometitle {
    font-size: 30px;
  }

  .sub-menu {
    padding: 20px;
  }


  .sub-menu-link {
    font-size: 20px;
  }


  .SteelProduct {
    font-size: 30px;
  }

  .slider {
    height: 85vh;
  }

  .slider .list .item .content {
    width: 250px;
  }

  .slider .list .item .content h2 {
    font-size: 40px;
  }

  .sliderbutton {
    font-size: 30px;
  }

  .thumbnail {
    height: 140px;
  }

  .thumbnail .item {
    width: 90px;
    height: 130px;
  }

  .HardwareProduct {
    font-size: 30px;
    background: linear-gradient(135deg, darkblue 91%, #0f0bee00 80%);
    margin-top: 18%;
  }

  .slider2 {
    height: 85vh;
  }


  .slider2 .list2 .item2 .content2 {
    width: 250px;
  }

  .slider2 .list2 .item2 .content2 h2 {
    font-size: 40px;
  }



  .thumbnail2 {
    height: 140px;
  }

  .thumbnail2 .item2 {
    width: 90px;
    height: 130px;
  }

  .contact {
    padding: 30px;
  }

  .contactus {
    margin-top: 18%;
}

}



@media screen and (min-width: 500px) {

  #content {
    margin-bottom: 11%;
}

  #hometitle {
    font-size: 35px;
  }

  #menupicture {
    width: 60px;
    height: 60px;
  }

  .SteelProduct {
    font-size: 30px;
  }

  .slider {
    height: 83vh;
  }

  .slider .list .item .content {
    width: 300px;
  }

  .slider .list .item .content h2 {
    font-size: 40px;
  }

  .sliderbutton {
    font-size: 30px;
  }

  .thumbnail {
    height: 140px;
  }

  .thumbnail .item {
    width: 90px;
    height: 130px;
  }

  .HardwareProduct {
    font-size: 30px;
    background: linear-gradient(135deg, darkblue 91%, #0f0bee00 80%);
  }

  .slider2 {
    height: 83vh;
  }


  .slider2 .list2 .item2 .content2 {
    width: 300px;
  }

  .slider2 .list2 .item2 .content2 h2 {
    font-size: 40px;
  }



  .thumbnail2 {
    height: 140px;
  }

  .thumbnail2 .item2 {
    width: 90px;
    height: 130px;
  }
}


@media screen and (min-width: 600px) {

  #content {
    margin-bottom: 9%;
}

  #hometitle {
    font-size: 40px;
  }

  .sub-menu-link {
    font-size: 25px;
  }

  .SteelProduct {
    font-size: 30px;
  }

  .slider {
    height: 80vh;
  }

  .slider .list .item .content {
    width: 350px;
  }

  .slider .list .item .content h2 {
    font-size: 40px;
  }

  .sliderbutton {
    font-size: 30px;
  }

  .thumbnail {
    height: 140px;
  }

  .thumbnail .item {
    width: 90px;
    height: 130px;
  }

  .HardwareProduct {
    font-size: 30px;
    background: linear-gradient(135deg, darkblue 91%, #0f0bee00 80%);
    margin-top: 15%;
  }

  .slider2 {
    height: 80vh;
  }


  .slider2 .list2 .item2 .content2 {
    width: 350px;
  }

  .slider2 .list2 .item2 .content2 h2 {
    font-size: 40px;
  }



  .thumbnail2 {
    height: 140px;
  }

  .thumbnail2 .item2 {
    width: 90px;
    height: 130px;
  }

  .contactus {
    margin-top: 15%;
}
}

@media screen and (min-width: 768px) {



  #hometitle {
    font-size: 45px;
  }

  #menupicture {
    width: 75px;
    height: 75px;
  }

  .SteelProduct {
    font-size: 30px;
  }

  .slider {
    height: 80vh;
  }

  .slider .list .item .content {
    width: 350px;
  }

  .slider .list .item .content h2 {
    font-size: 40px;
  }

  .sliderbutton {
    font-size: 30px;
  }

  .thumbnail {
    height: 140px;
  }

  .thumbnail .item {
    width: 90px;
    height: 130px;
  }

  .HardwareProduct {
    font-size: 30px;
    background: linear-gradient(135deg, darkblue 91%, #0f0bee00 80%);
    margin-top: 13%;
  }

  .slider2 {
    height: 80vh;
  }


  .slider2 .list2 .item2 .content2 {
    width: 350px;
  }

  .slider2 .list2 .item2 .content2 h2 {
    font-size: 40px;
  }



  .thumbnail2 {
    height: 140px;
  }

  .thumbnail2 .item2 {
    width: 90px;
    height: 130px;
  }

  #content {
    margin-bottom: 8%;
}

.contactus {
  margin-top: 13%;
}
}

@media screen and (min-width: 992px) {

  #hometitle {
    font-size: 50px;
  }


  .slider {
    height: 100vh;
  }

  .SteelProduct {
    font-size: 30px;
  }

  .slider {
    height: 76vh;
  }

  .slider .list .item .content {
    width: 500px;
  }

  .slider .list .item .content h2 {
    font-size: 40px;
  }

  .sliderbutton {
    font-size: 30px;
  }

  .thumbnail {
    height: 140px;
  }

  .thumbnail .item {
    width: 90px;
    height: 130px;
  }

  .HardwareProduct {
    font-size: 30px;
    background: linear-gradient(135deg, darkblue 91%, #0f0bee00 80%);
  }

  .slider2 {
    height: 76vh;
  }


  .slider2 .list2 .item2 .content2 {
    width: 500px;
  }

  .slider2 .list2 .item2 .content2 h2 {
    font-size: 40px;
  }



  .thumbnail2 {
    height: 140px;
  }

  .thumbnail2 .item2 {
    width: 90px;
    height: 130px;
  }

}


@media screen and (min-width: 1024px) {

  .thumbnail {
    justify-content: start;
  }

  .thumbnail2 {
    justify-content: start;
  }

  .slider .list .item .content h2 {
    font-size: 50px;
  }


  .slider .list .item .content {
    width: 700px;
  }


  .thumbnail {
    height: 80px;
  }

  .thumbnail .item {
    width: 45px;
    height: 65px;
  }


  .slider2 .list2 .item2 .content2 h2 {
    font-size: 50px;
  }

  .thumbnail2 {
    height: 80px;
  }

  .thumbnail2 .item2 {
    width: 45px;
    height: 65px;
  }


  .arrows {
    top: 10%;
  }

  .arrows2 {
    top: 10%;
  }

}



@media (max-width:1024px) {

  body {

    background-image: url("https://i.ibb.co/cg13mqf/steelstructure.png");
    background-size: contain;
    background-repeat: repeat;
    color: #eee;
  }

  

  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map"
      "aboutus";
    grid-gap: 20px;
  }

  .formbox .row50 {
    gap: 0;
    flex-direction: column;
  }

  

  .map {
    min-height: 300px;
    padding: 0;
  }

}
